<!DOCTYPE html>
<html lang="zh-Hans">
<head>
  <meta charset="UTF-8">
  <title>老干妈</title>
  <style>
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    #app {
      padding: 200px;
      height: 3000px;
      padding-top: 1000px;
    }

    .box {
      margin-top: 10px;
    }

    .colBox {
      background: grey;
      border: 1px solid red;
      height: 100px;
      margin-bottom: 10px;
    }

    .lgm-layout {
      height: 500px;
    }

    .lgm-header {
      border: 1px solid red;
    }

    .lgm-sider {
      border: 1px solid red;
    }

    .lgm-content {
      border: 1px solid red;
    }

    .lgm-footer {
      border: 1px solid red;
    }
  </style>
</head>
<body>
<!--<script src="https://cdn.jsdelivr.net/npm/lgm-ui@0.1.1"></script>-->
<div id="app">
      <lgm-button type="danger">失败按钮</lgm-button>
      <lgm-sticky :offset-top="0" :offset-bottom="120">
        <lgm-button type="success">成功按钮</lgm-button>
      </lgm-sticky>

<!--  <lgm-collapse :selected.sync="selectItems" single>-->
<!--    <lgm-collapse-item  name="1">-->
<!--      <template v-slot:title>-->
<!--        aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa-->
<!--        <lgm-icon icon="i-setting"></lgm-icon>-->
<!--      </template>-->
<!--      <div>与现实生活一致：与现实生活的流程、逻辑保持一致，遵循用户习惯的语言和概念；</div>-->
<!--      <div>在界面中一致：所有的元素和结构需保持一致，比如：设计样式、图标和文本、元素的位置等。</div>-->
<!--    </lgm-collapse-item>-->
<!--    <lgm-collapse-item title="反馈" name="2">-->
<!--      <div>控制反馈：通过界面样式和交互动效让用户可以清晰的感知自己的操作；</div>-->
<!--      <div>页面反馈：操作后，通过页面元素的变化清晰地展现当前状态。</div>-->
<!--    </lgm-collapse-item>-->
<!--    <lgm-collapse-item title="效率" name="3">-->
<!--      <div>简化流程：设计简洁直观的操作流程；</div>-->
<!--      <div>清晰明确：语言表达清晰且表意明确，让用户快速理解进而作出决策；</div>-->
<!--      <div>帮助用户识别：界面简单直白，让用户快速识别而非回忆，减少用户记忆负担。</div>-->
<!--    </lgm-collapse-item>-->
<!--    <lgm-collapse-item title="可控" name="4">-->
<!--      <div>用户决策：根据场景可给予用户操作建议或安全提示，但不能代替用户进行决策；</div>-->
<!--      <div>结果可控：用户可以自由的进行操作，包括撤销、回退和终止当前操作等。</div>-->
<!--    </lgm-collapse-item>-->
<!--  </lgm-collapse>-->

<!--  <lgm-button @click="changeShow">关闭</lgm-button>-->
<!--  <div style="overflow: hidden; border: 1px solid red; padding: 20px;" v-if="show">-->
<!--    <lgm-popover>-->
<!--      <template v-slot:content="{close}">-->
<!--        <h4>这是标题</h4>-->
<!--        <div>这是一段内容，这是一段内容，这是一段内容，这是一段内容。</div>-->
<!--        <lgm-button @click="()=>ddd(close)">关闭</lgm-button>-->
<!--      </template>-->
<!--      <lgm-button>点我</lgm-button>-->
<!--    </lgm-popover>-->
<!--    <lgm-popover position="bottom">-->
<!--      <template v-slot:content>-->
<!--        <h4>这是标题</h4>-->
<!--        <div>这是一段内容，这是一段内容，这是一段内容，这是一段内容。</div>-->
<!--      </template>-->
<!--      <lgm-button>点我</lgm-button>-->
<!--    </lgm-popover>-->
<!--    <lgm-popover position="left">-->
<!--      <template v-slot:content>-->
<!--        <h4>这是标题</h4>-->
<!--        <div>这是一段内容，这是一段内容，这是一段内容，这是一段内容。</div>-->
<!--      </template>-->
<!--      <lgm-button>点我</lgm-button>-->
<!--    </lgm-popover>-->
<!--    <lgm-popover position="right">-->
<!--      <template v-slot:content>-->
<!--        <h4>这是标题</h4>-->
<!--        <div>这是一段内容，这是一段内容，这是一段内容，这是一段内容。</div>-->
<!--      </template>-->
<!--      <lgm-button>点我</lgm-button>-->
<!--    </lgm-popover>-->
<!--  </div>-->
<!--  <div style="overflow: hidden; border: 1px solid red; padding: 20px;">-->
<!--    <lgm-popover trigger="hover">-->
<!--      <template slot="content">-->
<!--        <h4>这是标题</h4>-->
<!--        <div>这是一段内容，这是一段内容，这是一段内容，这是一段内容。</div>-->
<!--      </template>-->
<!--      <lgm-button>点我</lgm-button>-->
<!--    </lgm-popover>-->
<!--    <lgm-popover position="bottom" trigger="hover">-->
<!--      <template slot="content">-->
<!--        <h4>这是标题</h4>-->
<!--        <div>这是一段内容，这是一段内容，这是一段内容，这是一段内容。</div>-->
<!--      </template>-->
<!--      <lgm-button>点我</lgm-button>-->
<!--    </lgm-popover>-->
<!--    <lgm-popover position="left" trigger="hover">-->
<!--      <template slot="content">-->
<!--        <h4>这是标题</h4>-->
<!--        <div>这是一段内容，这是一段内容，这是一段内容，这是一段内容。</div>-->
<!--      </template>-->
<!--      <lgm-button>点我</lgm-button>-->
<!--    </lgm-popover>-->
<!--    <lgm-popover position="right" trigger="hover">-->
<!--      <template slot="content">-->
<!--        <h4>这是标题</h4>-->
<!--        <div>这是一段内容，这是一段内容，这是一段内容，这是一段内容。</div>-->
<!--      </template>-->
<!--      <lgm-button>点我</lgm-button>-->
<!--    </lgm-popover>-->
<!--  </div>-->

  <!--  <lgm-popover>-->
  <!--    <template slot="content">-->
  <!--      <h4>这是标题</h4>-->
  <!--      <div>这是一段内容，这是一段内容，这是一段内容，这是一段内容。</div>-->
  <!--    </template>-->
  <!--    <lgm-button>click 弹出</lgm-button>-->
  <!--  </lgm-popover>-->
<!--    <lgm-tabs :selected.sync="select" :position="position">-->
<!--      <lgm-tabs-head>-->
<!--        <lgm-tabs-item label="small" icon="i-setting">小学</lgm-tabs-item>-->
<!--        <lgm-tabs-item label="middle" icon="i-close" disabled>初中</lgm-tabs-item>-->
<!--        <lgm-tabs-item label="high" icon="i-loading">高中</lgm-tabs-item>-->
<!--      </lgm-tabs-head>-->
<!--      <lgm-tabs-body>-->
<!--        <lgm-tabs-pane name="small">小学生</lgm-tabs-pane>-->
<!--        <lgm-tabs-pane name="middle">初中生</lgm-tabs-pane>-->
<!--        <lgm-tabs-pane name="high">高中生</lgm-tabs-pane>-->
<!--      </lgm-tabs-body>-->
<!--    </lgm-tabs>-->
  <!--  <div class="box">-->
  <!--    <lgm-button @click="position='top'">上</lgm-button>-->
  <!--    <lgm-button @click="position='left'">左</lgm-button>-->
  <!--    <lgm-button @click="position='bottom'">下</lgm-button>-->
  <!--    <lgm-button @click="position='right'">右</lgm-button>-->
  <!--  </div>-->

<!--    <lgm-button type="primary" @click="showToast" loading>按钮</lgm-button>-->
<!--    <lgm-button type="primary" @click="showToast2">321</lgm-button>-->
<!--      <lgm-layout>-->
<!--      <lgm-header>Header</lgm-header>-->
<!--      <lgm-layout>-->

<!--        <lgm-content>Content</lgm-content>-->
<!--        <lgm-sider>Sider</lgm-sider>-->
<!--      </lgm-layout>-->
<!--      <lgm-footer>Footer</lgm-footer>-->
<!--    </lgm-layout>-->
<!--    <lgm-row gutter="20">-->
<!--      <lgm-col :phone="{'span': 24}" :mini-pad="{span: 8}" :pad="{'span': 12}" :pc="{'span': 8}" :wide-pc="{'span': 4}">-->
<!--        <div class="colbox">col-4 order2</div>-->
<!--      </lgm-col>-->
<!--      <lgm-col :phone="{'span': 24}" :mini-pad="{span: 8}" :pad="{'span': 12}" :pc="{'span': 8}" :wide-pc="{'span': 4}">-->
<!--        <div class="colbox">col-4 order4</div>-->
<!--      </lgm-col>-->
<!--      <lgm-col :phone="{'span': 24}"  :mini-pad="{span: 8}" :pad="{'span': 12}" :pc="{'span': 8}" :wide-pc="{'span': 4}">-->
<!--        <div class="colbox">col-4 order1</div>-->
<!--      </lgm-col>-->
<!--      <lgm-col :phone="{'span': 24}" :mini-pad="{span: 8}" :pad="{'span': 12}" :pc="{'span': 8}" :wide-pc="{'span': 4}">-->
<!--        <div class="colbox">col-4 order3</div>-->
<!--      </lgm-col>-->
<!--      <lgm-col :phone="{'span': 24}" :mini-pad="{span: 8}" :pad="{'span': 12}" :pc="{'span': 8}" :wide-pc="{'span': 4}">-->
<!--        <div class="colbox">col-4 order3</div>-->
<!--      </lgm-col>-->
<!--      <lgm-col :phone="{'span': 24}" :mini-pad="{span: 8}" :pad="{'span': 12}" :pc="{'span': 8}" :wide-pc="{'span': 4}">-->
<!--        <div class="colbox">col-4 order3</div>-->
<!--      </lgm-col>-->
<!--    </lgm-row>-->
  <!--    <div class="box">-->
  <!--      <lgm-input placeholder="123" value="xxxxxxxxx"></lgm-input>-->
  <!--      <lgm-input placeholder="请输入内容" v-model="str" clearable></lgm-input>-->
  <!--      {{str}}-->
  <!--      <lgm-input type="textarea" placeholder="请输入内容" v-model="str" @change="change" @blur="blur" @focus="focus"></lgm-input>-->
  <!--    </div>-->
  <!--    <div class="box">-->
  <!--      <lgm-button icon="i-setting" icon-position="right" :loading="loading1" @click="changeLoading1">设置</lgm-button>-->
  <!--      <lgm-button :loading="loading2" @click="changeLoading2">按钮</lgm-button>-->
  <!--      <lgm-button icon="i-setting" icon-position="left" :loading="loading3" @click="changeLoading3" disabled>按钮-->
  <!--      </lgm-button>-->
  <!--    </div>-->
<!--      <div class="box">-->
<!--        <lgm-button disabled>默认按钮</lgm-button>-->
<!--        <lgm-button type="primary" round>主要按钮</lgm-button>-->
<!--        <lgm-button type="success" icon="i-setting" disabled>成功按钮</lgm-button>-->
<!--        <lgm-button type="info" disabled>信息按钮</lgm-button>-->
<!--        <lgm-button type="warning" disabled>警告按钮</lgm-button>-->
<!--        <lgm-button type="danger" disabled @click="ddd" round>危险按钮</lgm-button>-->
<!--        <lgm-button icon="i-setting" type="primary" circle></lgm-button>-->
<!--      </div>-->
<!--      <div class="box">-->
<!--        <lgm-icon icon="i-user"></lgm-icon>-->
<!--        <lgm-icon icon="i-loading"></lgm-icon>-->
<!--      </div>-->
<!--      <div class="box">-->
<!--        <lgm-button-group>-->
<!--          <lgm-button type="primary" icon="i-left">上一页</lgm-button>-->
<!--          <lgm-button type="primary">更多</lgm-button>-->
<!--          <lgm-button type="primary" icon="i-right" icon-position="right">下一页</lgm-button>-->
<!--        </lgm-button-group>-->
<!--      </div>-->
</div>
<script src="./src/app.js"></script>
</body>
</html>