<!DOCTYPE html>
<html lang="zh-Hans">
<head>
  <meta charset="UTF-8">
  <title>老干妈</title>
  <style>
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    #app {
      margin: 20px;
    }

    .box {
      margin-top: 10px;
    }

    .colbox {
      background: grey;
      border: 1px solid red;
      height: 100px;
      margin-bottom: 10px;
    }
    .lgm-layout{
      height: 500px;
    }
    .lgm-header{
      border: 1px solid red;
    }
    .lgm-sider{
      border: 1px solid red;
    }
    .lgm-content{
      border: 1px solid red;
    }
    .lgm-footer{
      border: 1px solid red;
    }
  </style>
</head>
<body>
<div id="app">
  <lgm-button type="primary" @click="showToast" loading>按钮</lgm-button>
  <lgm-button type="primary" @click="showToast2">321</lgm-button>
  <!--  <lgm-layout>-->
<!--    <lgm-header>Header</lgm-header>-->
<!--    <lgm-layout>-->

<!--      <lgm-content>Content</lgm-content>-->
<!--      <lgm-sider>Sider</lgm-sider>-->
<!--    </lgm-layout>-->
<!--    <lgm-footer>Footer</lgm-footer>-->
<!--  </lgm-layout>-->
<!--  <lgm-row>-->
<!--    <lgm-col :phone="{'span': 24}" :pad="{'span': 12}" :pc="{'span': 8}" :wide-pc="{'span': 4}">-->
<!--      <div class="colbox">col-4 order2</div>-->
<!--    </lgm-col>-->
<!--    <lgm-col :phone="{'span': 24}" :pad="{'span': 12}" :pc="{'span': 8}" :wide-pc="{'span': 4}">-->
<!--      <div class="colbox">col-4 order4</div>-->
<!--    </lgm-col>-->
<!--    <lgm-col :phone="{'span': 24}" :pad="{'span': 12}" :pc="{'span': 8}" :wide-pc="{'span': 4}">-->
<!--      <div class="colbox">col-4 order1</div>-->
<!--    </lgm-col>-->
<!--    <lgm-col :phone="{'span': 24}" :pad="{'span': 12}" :pc="{'span': 8}" :wide-pc="{'span': 4}">-->
<!--      <div class="colbox">col-4 order3</div>-->
<!--    </lgm-col>-->
<!--    <lgm-col :phone="{'span': 24}" :pad="{'span': 12}" :pc="{'span': 8}" :wide-pc="{'span': 4}">-->
<!--      <div class="colbox">col-4 order3</div>-->
<!--    </lgm-col>-->
<!--    <lgm-col :phone="{'span': 24}" :pad="{'span': 12}" :pc="{'span': 8}" :wide-pc="{'span': 4}">-->
<!--      <div class="colbox">col-4 order3</div>-->
<!--    </lgm-col>-->
<!--  </lgm-row>-->
<!--    <div class="box">-->
<!--      <lgm-input placeholder="123" value="xxxxxxxxx"></lgm-input>-->
<!--      <lgm-input placeholder="请输入内容" v-model="str" clearable></lgm-input>-->
<!--      {{str}}-->
<!--      <lgm-input type="textarea" placeholder="请输入内容" v-model="str" @change="change" @blur="blur" @focus="focus"></lgm-input>-->
<!--    </div>-->
<!--    <div class="box">-->
<!--      <lgm-button icon="i-setting" icon-position="right" :loading="loading1" @click="changeLoading1">设置</lgm-button>-->
<!--      <lgm-button :loading="loading2" @click="changeLoading2">按钮</lgm-button>-->
<!--      <lgm-button icon="i-setting" icon-position="left" :loading="loading3" @click="changeLoading3" disabled>按钮-->
<!--      </lgm-button>-->
<!--    </div>-->
<!--    <div class="box">-->
<!--      <lgm-button disabled>默认按钮</lgm-button>-->
<!--      <lgm-button type="primary" round>主要按钮</lgm-button>-->
<!--      <lgm-button type="success" icon="i-setting" disabled>成功按钮</lgm-button>-->
<!--      <lgm-button type="info" disabled>信息按钮</lgm-button>-->
<!--      <lgm-button type="warning" disabled>警告按钮</lgm-button>-->
<!--      <lgm-button type="danger" disabled @click="ddd" round>危险按钮</lgm-button>-->
<!--      <lgm-button icon="i-setting" type="primary" circle></lgm-button>-->
<!--    </div>-->
<!--    <div class="box">-->
<!--      <lgm-icon icon="i-user"></lgm-icon>-->
<!--      <lgm-icon icon="i-loading"></lgm-icon>-->
<!--    </div>-->
<!--    <div class="box">-->
<!--      <lgm-button-group>-->
<!--        <lgm-button type="primary" icon="i-left">上一页</lgm-button>-->
<!--        <lgm-button type="primary">更多</lgm-button>-->
<!--        <lgm-button type="primary" icon="i-right" icon-position="right">下一页</lgm-button>-->
<!--      </lgm-button-group>-->
<!--    </div>-->
</div>
<script src="./src/app.js"></script>
</body>
</html>